{% extends 'adminhome.html' %}
{% block 'b1' %}
<h2 align="center"><font color="green">Mail to be send </font></h2>
<from method="post" action="{% url 'sendmail' %}">
    <table align="center" border="2">
        <tr>
            <td>Enter the message</td>
            <td><input type="text" name="subject" required></td>
        </tr>
         <td>
             <td>Enter the message</td>
            <td><input type="text" name="subject" required></td>
        </td>

    </table>
</from>
{% ensblock %}